# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Local temporary files
/tmp
.DS_Store

# Go binaries, regardless of name
pawned
pawned-*
chesshell
chesshell-*
/bin/
/pkg/

# Environment variables
.env
.env.*
!.env.example

# IDE folders
.vscode/
.idea/
.fleet/

# Project Management Documents
dev_docs/
